
@font-face {
    font-family: 'Ailerons';
    src: url("fonts/ailerons.woff") format("woff"), 
    url('fonts/ailerons.otf') format("opentype");
}

@font-face {
    font-family: 'Copperplate';
    src: url("fonts/copperplate.otf") format("opentype"); 
}


html{
    background-color: rgb(11,20,27);
}

#navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 5vh;
    align-items: center;
    font-family: "Copperplate", Arial, Helvetica, sans-serif;
    font-size: .7rem;
}

.navbutton{
    cursor: pointer;
}

#info{
    color: white;   
    margin-left: 5vw;
    border: solid white 1px;
}

.denali{
    color: white;
    font-family: 'Ailerons', Arial, Helvetica, sans-serif;
    font-size: 2em;
}
#contact{
    font-family: "Copperplate", Arial, Helvetica, sans-serif;
}

#A{
    color: #BD8D2D;
}