
@font-face {
    font-family: 'Ailerons';
    src: url("fonts/Ailerons.woff") format("woff"), 
    url('fonts/Ailerons.otf') format("opentype");
}

html{
    background-color: rgb(11,20,27);
}

#navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 5vh;
    align-items: center;
}

#info{
    color: white;   
    border: solid white 1px;
}

.denali{
    color: white;
    font-family: 'Ailerons', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#A{
    color: #BD8D2D;
}