
@font-face {
    font-family: 'Ailerons';
    src: url("fonts/ailerons.woff") format("woff"), 
    url('fonts/ailerons.otf') format("opentype");
}

@font-face {
    font-family: 'Copperplate';
    src: url("fonts/copperplate.otf") format("opentype"); 
}


html, body{
    background-color: rgb(11,20,27);
    /* width: 100%; */
    min-height: 100%;
    margin: 0;
    /* border: solid red 1px; */
}

#contents{
    padding-top: 5vh;
    height: 100%;
    width: 100%;
    /* border: solid white 1px; */
    display: flex;
    flex-direction: row-reverse
}

#navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 5vh;
    align-items: center;
    font-family: "Copperplate", Arial, Helvetica, sans-serif;
    font-size: .7rem;
}

.navbutton{
    cursor: pointer;
}

#info{
    margin-right: 45%;
    margin-top: 10vh;
    color: white;   
    margin-left: 5vw;
    /* border: solid white 1px; */
}

.icons{
    /* border: solid green 1px; */
}

.details{
    /* border: solid white 1px; */
    display: flex;
    align-content: center;
    align-items: center;
/*    justify-content: center;*/
}

.icons{
    height: 2rem;
}

.denali{
    padding-left: 2.5rem;
    color: white;
    font-family: 'Ailerons', Arial, Helvetica, sans-serif;
    font-size: 2em;
}
#contact{
    font-family: "Copperplate", Arial, Helvetica, sans-serif;
}

.contactinfo{
    padding-left: .5rem;
}

#A{
    color: #BD8D2D;
}

#triangle{
    position: absolute;
    width: 45rem;
    height: 45rem;
    /* top: 0; */
    /* bottom: 0; */
    left: 50%;
    margin: auto;
    /* position: absolute; */
     /* border: solid green 1px;  */
}