#navbar{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    height: 5vh;
    align-items: center;
}

.nav{
    margin-left: 5vw;
    margin-right: 5vw;
}

body{
    background-color: rgb(23,27,30);
/*    border:solid green 2px;*/
    min-height: 100%;
    margin: 0;
    overflow: auto;
}

#main{
/*    border: solid white 2px;*/
    overflow: hidden;
    vertical-align: middle;
}


#intro{
    float: left;
    height: 100%;
    margin-top: 20vh;
    margin-left: 10vw;
/*    border: solid red;*/
}


#dahl{
    float: right;
/*    border: solid white 2px;*/
    width: 30vw;
    height: 30vw;
    margin-top: 10vh;
    margin-right: 10vw;
}

#authorpic {
    border-radius: 50%;
    object-fit: cover;
    width: 30vw;
    height: 30vw;
}


#title {
    color: rgb(128,126,254);
    font-family: "Helvetica";
}

#greeting {
    color: white;
} 

.book {
    height: 20vh;
    margin-right: 3vw;
}

#gallery{
    margin-left: 10vw;
}