@font-face {
    font-family: 'Ailerons';
    src: url('fonts/ailerons.woff2') format('woff2'),
         url('fonts/ailerons.woff') format('woff'),
         url('fonts/ailerons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Copperplate';
    src: url("fonts/copperplate.otf") format("opentype"); 
}

html, body{
    background: white;
    min-height: 100%;
    width: 100%;
    margin: 0;
    /* animation-name: darken; */
    /* animation-duration: 5s; */
}

/* @keyframes darken {
  from {background-color: rgb(11,20,27);}
  to {background-color: black;}
} */

#name{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: solid white 1px; */
    color: rgb(128, 126, 126);
    font-family: 'Ailerons', Arial, Helvetica, sans-serif;
    animation: name;
    animation-duration: 1.5s;
    font-size: 1.2rem;
}

#A{
    color:#BD8D2D;
}

@keyframes name{
    from{
        padding-left: 10vw;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



#films{
    height: 100%;
    width: 100%;
/*    display: relative;*/
/*    justify-content: center;*/
/*    border: solid white 1px;*/
    flex-wrap: wrap;
    /* visibility: hidden; */
    animation: revealFilms;
    animation-duration: 1.2s;
}

@keyframes revealFilms {
    from {
        opacity: 0;
        margin-top: 3rem;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.videoDiv {
    width: 31.5vw;
    height: 19vw;
    margin-top: 1vw;
    margin-left: 1vw;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    -webkit-transition: 0.5s ease;
}



.videoDiv img{
    width: 100%;
    height: 100%;
}

.after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    display: none;*/
    visibility: hidden;
    color: rgba(0,0,0,0);
    border: solid rgba(0,0,0,0) 1px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-transition: 0.5s ease;
}

.title{
    width: 100%;
    font-family: "Ailerons";
    font-size: 2.5vw;
}

.description {
    font-family: "copperplate";
    font-size: 1.5vw;
}


.videoDiv:hover .after {
    visibility: visible;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: solid white 1px;
}

#popup{
    visibility: hidden;
    /* position: absolute; */
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    
    color: white;
    border: solid white 1px;
    background: black; 
    /* opacity: 0.8; */
    /* background-color: rgb(0,0,0,0.8); */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerPopup{
    height: 90%;
    width: 90%;
}

iframe{
    height: 90%;
    width: 100%;
    box-shadow: 0 0 40px rgba(255,255,255, .1);
}

#closeButton{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

.videoUrl{
    visibility: hidden;
}

@media(max-width:850px){
	.videoDiv{
        width: 100%;
        height: 56.2vw;
    }
}

@media(max-device-width:850px),(max-width:480px){
    #name{
        margin-top: 2rem;
    }
}